.about_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  max-width: 1500px;
  padding: 20px;
  background-color: #F5F8FD;

  .about_left {
    width: 50%;
  }

  .about_img {
    width: 50%;

    img {
      width: 100%;
      height: auto;
    }
  }
}
