.overlay {
  background-color: var(--primary-color);
}

.bg {
  border-radius: 0 0 1000px 0;
  background-size: cover;
  background-color: #f5f5f5;
}

.hero_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1500px;
  padding: 0 20px;
  margin: 0 auto;
  height: 100vh;

  &__left {
    width: 35%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;

    .hero_text {
      font-family: "Montserrat", sans-serif;
      font-size: 60px;
      color: var(--secondary-color);
    }

    .hero_button {
      all: unset;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 5px;
      background-color: var(--primary-color);
      padding: 10px 15px;
      border-radius: 30px;
      color: white;
      cursor: pointer;

      &:hover {
        width: 180px;
      }

      &__text,
      .arrow_icon {
        text-align: center;
        font-size: 22px;
      }
    }
  }

  &__right {
    width: 45%;

    .hero_img {
      max-width: 100%;
      height: auto;
      border-radius: 10px;
      box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034),
        0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06),
        0 22.3px 17.9px rgba(0, 0, 0, 0.072),
        0 41.8px 33.4px rgba(0, 0, 0, 0.086), 0 100px 80px rgba(0, 0, 0, 0.12);
    }
  }
}
